.main {

}
.container {
    max-width: 656px;
    margin: 0 auto;
}

.cart_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.cart {
    display: flex;
    width: 100%;
    gap: 5px;
    max-width: 640px;
    height: 120px;
    position: relative;
    &::after {
        position: absolute;
        bottom: 0px;
        content: '';
        display: block;
        width: 640px;
        height: 1px;
        background: lightgray;
    }
}

.cart_favorite_button {
    & img {
        cursor: pointer;
    }

}
.cart_info{
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: #858585;
    & a {
        color: #307792;
        font-weight: bold;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }
    & p {

        font-size: 13px;
        font-family: Trebuchet MS;
    }
}


.cart_info_price {
    color: #333333;
}

.cart_img {
    max-height: 115px;
    width: 140px;

    & img {
        width: 140px;
        height: 100%;
        object-fit: cover;
    }
}

.cart_link {
    max-height: 32px;
    overflow: hidden;

}

.sort_wrapper {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 10px;
    align-items: end;
}


.type_sorted {
    display: flex;
    gap: 10px;
    align-items: end;
}

.number_of_advertisements_per_page {
    display: flex;
    gap: 5px;
    align-items: end;
    & a {
        padding: 2px;
        border: 1px solid black;
    }
}

.sorted_by_price_or_date {
    display: flex;
    gap: 5px;
    align-items: end;
}


.vip_cart {
    width: 280px;
    height: 305px;
    border: 1px solid darkorange;
}

