<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/param2.css' %}">
    <link rel="stylesheet" href="{% static 'css/null_for_templates.css' %}">
    <title>Document</title>
</head>
<body>
<div class="category_navigation_bar">
    <div class="container">
        <div class="category_wrapper">
            <div class="category_list">
                {% for cat in category %}
                <a href="{% url 'adver_by_category' cat.slug %}" class="category">
                    {{ cat.title }}, {{cat.num_adver}}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="sort_bar">
    <div class="container">
        <div class="sort_wrapper">
            <div class="number_of_advertisements">
                Найдено: {{adver.count}}
            </div>
            <div class="number_of_advertisements_per_page">
                <p>
                    Выводить по:
                </p>
                <a href="?sort=3">
                    30
                </a>
                <a href="?sort=6">
                    60
                </a>
                <a href="?sort=9">
                    90
                </a>
            </div>

            <div class="type_sorted">
                <a href="{% url 'param2' %}" class="type_sorted_img" id="type_sorted_1">
                    <img src="/static/img/sort1.png" alt="">
                </a>
                <a href="{% url 'param1' %}" class="type_sorted_img" id="type_sorted_2">
                    <img src="/static/img/sort2.png" alt="">
                </a>
            </div>

            <div class="sorted_by_price_or_date">
                <p>
                    Сортировать
                </p>
                <a href="?date={{date}}">
                    Дата
                </a>
                <a href="?price={{date}}">
                    Цена
                </a>
            </div>
        </div>
    </div>
</div>
{% block content %}
<div class="main">
    <div class="container">
        <div class="cart_list_wrapper">
            <div class="vip_cart_list">
                <a href="#" class="vip_cart">
                    <p class="vip_cart_header">VIP Объявление</p>

                </a>
                <a href="#" class="vip_cart">
                    <p class="vip_cart_header">VIP Объявление</p>

                </a>
            </div>
            <div class="cart_list" id="cart_list_id">
                {% for cart in page_obj %}
                <div class="cart" id="cart_id">
                    <div class="cart_img" id="cart_img_id">
                        <a href="#">
                        <img src="{{ cart.previous_image.url }}" alt="{{ cart.previous_image.url }}">
                        </a>
                    </div>
                    <div class="cart_favorite_button">
                        <img class="favorite_img" id="{{ cart.id }}" src="/static/img/favorite.png" alt="">
                    </div>
                    <div class="cart_info" id="cart_info_id">
                        <a href="#" class="cart_link" id="cart_link_id">{{ cart.title }}</a>
                        <p class="cart_info_price" id="cart_info_price_id">{{ cart.price }} руб.</p>
                        <p>{{ cart.category }}</p>
                        <p class="cart_info_bearer" id="cart_info_bearer_id">{{ cart.bearer }}</p>
                        <p>{{ cart.city }}</p>
                        {% if cart.date_of_create.date == date_today %}
                        <p>Сегодня</p>
                        {% elif cart.date_of_create.date == date_yesterday %}
                        <p>Вчера</p>
                        {% else %}
                        <p>{{ cart.date_of_create|date:"d b. Y H:i" }}</p>
                        {% endif %}

                    </div>
                </div>
                {% endfor %}

            </div>

        </div>

    </div>


</div>
{% endblock %}
<div class="paginator">
    <div class="container">
        <div class="paginator_wrapper">
            <ul>
                {% if page_obj.has_previous %}
                <li class="">
                    <a href="?page={{ page_obj.previous_page_number }}"><</a>
                </li>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                {% if page_obj.number == page %}
                <li class="page-num page-num-selected">{{ page }}</li>
                {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                <li class="page-num">
                    <a href="?page={{ page }}">{{ page }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="">
                    <a href="?page={{ page_obj.next_page_number }}">></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<script src="{%  static 'js/advertisement.js' %}"></script>
</body>
</html>